# Flutter/Dart
.dart_tool/
.packages
.pub-preload-cache/
.dart_tool/
build/
*.iml
.metadata
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# Project specific
files/
files.zip
flutter_macos_3.29.2-stable.zip
